* {
    /* border: 1px solid green; */
    margin: 5px;
}


html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 600;
  background-color: rgb(143, 216, 241);
  }


aside {
  height: 100%;
  width: 15%;
  background-color: rgb(150, 150, 236);
}

main {
  width: 85%
}

p {
  text-align: center;
}

h1 {
  text-align: center;
  height: 15%;
  font-size: 50px;
}

.side-container {
  height: 26%;
}

.result-section {
  text-align: center;
  height: 10%;
  font-size: 30px;
}

.play-zone {
  display: flex;
  /* flex-direction: column; */
  height: 72%;
  align-items: center;
  justify-content: center;
}
  
.image {
  height: 140px;
  font-size: 50px;
  font-weight: 600;
}

.score-counter {
  height: 60px;
  font-size: 50px;
  font-weight: 500;
}

.selector-image {
  cursor: pointer;
  height: 90px;
  width: 90px;
}

.game-selection {
  cursor: pointer;
  height: 250px;
  width: 350px;
  white-space: pre-wrap;
}

button {
  cursor: pointer;
}

.game-selection {
  border: 5px solid black;
  font-size: 20px;
}

.selector-image {
  height: 175px;
  width: 175px;
  border: 5px solid black;
}