* {
    border: 1px solid green;
    margin: 5px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: seagreen;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 600;
  }


aside {
  height: 100%;
  width: 15%;
}

main {
  width: 85%
}

p {
  text-align: center;
}

h1 {
  text-align: center;
  height: 15%;
}

.side-container {
  height: 28%;
}

.result-section {
  text-align: center;
  height: 10%;
}

.play-zone {
  display: flex;
  flex-direction: column;
  height: 72%;
  align-items: center;
  justify-content: center;
}
  
.image {
  height: 190px;
}

.score-counter {
  height: 35px;
}

.selector-image {
  cursor: pointer;
  height: 90px;
  width: 90px;
}

.game-selection {
  cursor: pointer;
  height: 250px;
  width: 350px;
  white-space: pre-wrap;
}

button {
  cursor: pointer;
}